/*custom fonts*/
@font-face {
  font-family: 'aileronregular';
  src: url('../fonts/aileron-regular-webfont.woff2') format('woff2'),
       url('../fonts/aileron-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
:root { 
  /*colors*/
  --night-body: #CBCFD7;
  --night-link: #28CDE4;
  --night-heading: #4AB4ED;
  --night-bg: #222539;

  /*fonts*/
  --regular:'aileronregular', Arial, Helvetica, sans-serif;
  --italic: 'aileronitalic', Arial, Helvetica, sans-serif;
  --bold: 'aileronbold', Arial, Helvetica, sans-serif;
  --bold-italic: 'aileronbold_italic', Arial, Helvetica, sans-serif;
  --light: 'aileronlight', Arial, Helvetica, sans-serif;
  --light-italic: 'aileronlight_italic', Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--regular);
  color: #394655;
  background: var(--night-bg);

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 650px;
    }
    .back-link {
      font-size: 24px;
      margin-top: 8px;
      a {
        text-decoration: none;
        color: var(--night-link);

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
